
* {
	box-sizing: border-box;
}


body {
	background-color: #000;
}

.navbar { 
	height: 100px;
}

h1 {
	margin-left: 600px;
	line-height: 50px;
	color: #fff;
}

.psychichands {
	margin-left: 200px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gamePanel {
	color: #000;
}



